html {
    height: 100%;    
}

body {
    background-color: #1e1e1e !important;
    color: #c0c0c0 !important;
    height: 100%;
    font-family: "Raleway", sans-serif !important;
    user-select: none;
    -moz-user-select: none;
}

hr {
    background-color: #c0c0c0 !important;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 50px auto 0 auto;
    animation: opac 0.8s;
}

.header img {
    width: 50px; 
    height: auto; 
    padding: 0; 
    opacity: 0.5;
    filter: brightness(70%);
}

.header img:hover {
    opacity: 0.75;
    animation: highlight 0.3s;
}

.home {
    display: block;
    animation: opac 0.8s;
    width: 30%;
    margin: 15% auto auto auto;
}

.home h1 {
    font-size: 64px;
    text-align: center;
}

.view {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 50%;
	display: none;
}

.counter {
    margin-left: auto;
}

.view-left {
    display: inline;
    margin-right: 10%;
    float: left;
}

.view-right {
    display: inline;
    margin-left: 10%;
    float: right;
}

.reset {
    display: none;
    margin-top: 10%;
    text-align: center;
    animation: opac 0.8s;
}

@keyframes opac {
    from {opacity:0};
    to {opacity:1};
}

@keyframes opac {
    from {opacity:0.5};
    to {opacity:1};
}
