body {
    background-color: #1e1e1e;
    color: #c0c0c0;
}

.header {
    width: 60%;
    margin: 50px auto 0 auto;
}

.header img {
    display: inline; 
    width: 50px; 
    height: auto; 
    margin: 0 20px 0 20px;
    padding: 0; 
}

