html {
    height: 100%;    
}

body {
    background-color: #1e1e1e !important;
    color: #c0c0c0 !important;
    /* height: 100%; */
    font-family: "Sawarabi Gothic", sans-serif !important;
    user-select: none;
    -moz-user-select: none;
}

hr {
    background-color: #c0c0c0 !important;
}

small a {
    color: #c0c0c0 !important;
}

small a:focus {
    outline: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto 0 auto;
    animation: opac 0.8s;
}

.header img {
    width: 50px; 
    height: auto; 
    padding: 0; 
    opacity: 0.5;
    filter: brightness(70%);
}

.header img:hover {
    opacity: 0.75;
    animation: highlight 0.3s;
}

.header a:focus {
    outline: 0;
}

.home {
    display: block;
    animation: opac 0.8s;
    width: 30%;
    margin: 15% auto auto auto;
}

.home h1 {
    font-size: 64px;
    text-align: center;
}

.view {
    margin-top: 5%;
}

.counter {
    margin-left: auto;
}

.reset {
    display: none;
    margin-top: 5%;
    text-align: center;
    /* animation: opac 0.8s; */
}

@keyframes opac {
    from {opacity:0};
    to {opacity:1};
}

@keyframes opac {
    from {opacity:0.5};
    to {opacity:1};
}
